{:did        "did:web:etzhayyim.github.io:com-etzhayyim-shionome"
 :handle     "shionome.etzhayyim.com"
 :ipns-key   "shionome-actor"
 :graph-type "com.etzhayyim.shionome.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
